SPORTSPLUS_URL=https://www.sportsplus.ph/sbk/l/339/matches
PLAYTIME_URL=https://px4gtyp.auremi88.com/en/compact/sports/basketball
SPORTSPLUS_SOURCE_LABEL=SPORTS PLUS
PLAYTIME_SOURCE_LABEL=PLAYTIME
HEADLESS=false
GOOGLE_SHEET_NAME=Sports Betting Data
GOOGLE_WORKSHEET_NAME=NBA
COMPARISON_WORKSHEET_NAME=NBA_COMPARISON
GOOGLE_CREDS_JSON=
SCROLL_PAUSE_MS=1500
MAX_SCROLLS=10
REFRESH_INTERVAL_SECONDS=300
CYCLE_SLEEP_SECONDS=300
MAX_CYCLES=1
RUN_FOREVER=false
